.Button {
  margin-right: 10px;
  transition: background-color 0.15s;
}

.Button:hover {
  background-color: #555057;
  border-color: #555057;
}

.Button--secondary {
  background-color: #78b9b4;
  border-color: #78b9b4;
}

.Button--secondary:hover {
  background-color: #463d40;
  border-color: #463d40;
}

.Button--small {
  font-size: 0.8rem;
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 1.5rem;
}
