body {
  color: #161621;
}

a {
  transition: color 0.15s;
}

a:hover {
  color: #d65afc;
}

a:focus,
a:active {
  color: #d65afc;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

nav {
  text-align: center;
}

nav ul li {
  width: 75px;
  display: inline-block;
}

.active-nav-link {
  color: #d65afc;
  text-decoration: underline;
}

main {
  max-width: 600px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.comments-container {
  margin-top: 20px;
}

.comment-list-header-button {
  text-align: center;
}

.new-comment-form {
  margin: 20px 20px 20px 80px;
  padding: 10px 20px;
  border-radius: 3px;
  background-color: #eee7fd;
}

.new-comment-form * {
  width: 100%;
}

textarea,
select,
input[type="text"] {
  background-color: #fff;
}
